@keyframes growin {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.25);
  }
  95% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.Log {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  max-height: calc(100vh - 315px);
  overflow: auto;

  .log-item {
    padding: 0.5em 1em;
    border-bottom: 1px solid $light;

    &:hover {
      background-color: rgba($light, 0.5);
    }
  }

  .empty-log {
    font-style: italic;
    opacity: 0.25;
    padding: 3em 0.5em;
    display: inline-block;
    font-size: 1.5em;
  }
}
